In [1]:
import pandas as pd
import numpy as np

In [2]:
h1n1 = pd.read_csv('../model_preds/sub_h1n1.csv')
season = pd.read_csv('../model_preds/sub_season.csv')

In [3]:
h1n1.head()

      id  xgb_test_pred
0  26707       0.047429
1  26708       0.054938
2  26709       0.467708
3  26710       0.812618
4  26711       0.252736

In [4]:
h1n1.shape

(26708, 2)

In [5]:
season.head()

      id  xgb_test_pred
0  26707       0.181784
1  26708       0.070073
2  26709       0.827732
3  26710       0.889232
4  26711       0.558421

In [6]:
season.shape

(26708, 2)

In [7]:

h1n1.rename(columns={'id': 'respondent_id', 'xgb_test_pred': 'h1n1_vaccine'}, inplace=True)

In [8]:
h1n1.head()

   respondent_id  h1n1_vaccine
0          26707      0.047429
1          26708      0.054938
2          26709      0.467708
3          26710      0.812618
4          26711      0.252736

In [9]:
ambos = pd.concat([h1n1, season], axis=1)

In [10]:
ambos.shape

(26708, 4)

In [11]:
ambos.head()

   respondent_id  h1n1_vaccine     id  xgb_test_pred
0          26707      0.047429  26707       0.181784
1          26708      0.054938  26708       0.070073
2          26709      0.467708  26709       0.827732
3          26710      0.812618  26710       0.889232
4          26711      0.252736  26711       0.558421

In [12]:
del ambos['id']

In [13]:
ambos.head()

   respondent_id  h1n1_vaccine  xgb_test_pred
0          26707      0.047429       0.181784
1          26708      0.054938       0.070073
2          26709      0.467708       0.827732
3          26710      0.812618       0.889232
4          26711      0.252736       0.558421

In [14]:
ambos.rename(columns={'xgb_test_pred': 'seasonal_vaccine'}, inplace=True)

In [15]:
ambos.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0          26707      0.047429          0.181784
1          26708      0.054938          0.070073
2          26709      0.467708          0.827732
3          26710      0.812618          0.889232
4          26711      0.252736          0.558421

In [16]:
ambos.shape

(26708, 3)

In [17]:
ambos.to_csv('../model_preds/submission.csv', index=False)